<div fxLayout="row" fxLayoutAlign="space-evenly stretch">
  <form [formGroup]="addressForm">

    <div>
      <span>Address</span>
      <button mat-button  type="button" (click)="addAddress()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="addressForm.invalid || addressForm.pristine">
        Save
      </button>
    </div>

    <div formArrayName="address">
      <mat-card *ngFor="let form of addressForm.get('address').controls; index as i">
        <mat-card-content >
          <div fxLayout="row" fxLayoutAlign="end" *ngIf="addressForm.get('address').controls.length > 1">
            <button mat-button  type="button" (click)="removeAddress(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <mat-form-field fxFlex="100%">
              <mat-label>Street</mat-label>
              <input
                matInput
                [formControl]="form.get('street')"
                placeholder="street"
                type="text"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <mat-form-field fxFlex="30%">
              <mat-label>City</mat-label>
              <input
                matInput
                [formControl]="form.get('city')"
                placeholder="city"
                type="text"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>State</mat-label>
              <input
                matInput
                [formControl]="form.get('state')"
                placeholder="state"
                type="text"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Zip Code</mat-label>
              <input
                matInput
                [formControl]="form.get('zip')"
                placeholder="zip code"
                type="text"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>

