<mat-sidenav-container>
  <mat-sidenav #drawer mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="['dashboard']" >
        <mat-icon>dashboard</mat-icon>Доска
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['events']">
        <mat-icon>notifications_active</mat-icon>Список активностей
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
<!--    <div #container></div>-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
