<!--The content below is only a placeholder and can be replaced.-->
<course-header [drawer]="drawer"></course-header>
<course-sidebar (setSidebarControl)="setDrawerControl($event)">
  <!--  <ng-template #myDiv>-->
  <!--    <div > content </div>-->
  <!--  </ng-template>-->

  <mat-form-field>
    <input matInput placeholder="Input" (input)="search($event)">
  </mat-form-field>


  <!--  <div *ngIf="events$ | async | eventsFilter:searchText as events; else loader">-->
  <!--    <div class="row" [ngClass]="{background: isEven }"-->
  <!--         *ngFor="let event of events; index as i; even as isEven"> {{i + 1}}. {{event.date | date: 'hh:mm'}}</div>-->
  <!--  </div>-->

  <!--  <ng-template #loader>-->
  <!--    <span> Loading......</span>-->
  <!--  </ng-template>-->

  <div class="table" *ngIf="events$ | async | eventsFilter:searchText as events; else loader">
    <table *courseNgTable="let item by events delay 1000; index as i; h as headers">
      <tr class="header-row" *ngIf="!i">
        <td class="header-cell" *ngFor="let header of headers">{{header}}</td>
      </tr>
      <tr class="row">
        <td class="cell">
          {{item._id}}
        </td>
        <td class="cell">
          {{item.text}}
        </td >
        <td class="cell">
          {{item.date | date: 'medium'}}
        </td>
        <td class="cell">
          {{item.status}}
        </td>
      </tr>
    </table>

  </div>

  <ng-template #loader>
    <span> Loading......</span>
  </ng-template>


</course-sidebar>
