<form [formGroup]="changePasswordGroup">
  <span>Change Password</span>
  <mat-card>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
           <div fxFlex="100%">
             <mat-form-field class="full-width">
               <mat-label>Old password</mat-label>
               <input
                 matInput
                 formControlName="oldPass"
                 placeholder="old password"
                 type="text"
               >
<!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
             </mat-form-field>
           </div>
          <div fxFlex="100%" formGroupName="password">
            <mat-form-field class="full-width">
              <mat-label>New password</mat-label>
              <input
                matInput
                placeholder="new password"
                type="password"
                formControlName="password"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Repeat new password</mat-label>
              <input
                matInput
                placeholder="Repeat new password"
                type="password"
                formControlName="cpassword"
              >
              <!--               <mat-error *ngIf="c.errors && c.errors.nospecial">{{c.errors.nospecial}}</mat-error>-->
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="changePasswordGroup.invalid || changePasswordGroup.pending">
            Save
          </button>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</form>
